*{
    margin: 0;
    padding: 0;
    
}


body{
    background-image: url(../img/totoro.jpeg);
    width: 100vw;
    height: 100vh;
    
}
.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
}

.header__img2 {
    height: 100px;
    padding: 20px;
}

.section1{
    display: flex;
    width: 100%;
}

.section1__izq{
    background-image: url(../img/fantasma\ -\ copia.png);
    height: 500px;
    width: 70%;
    background-size: cover;
}

.section1__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 100%;
    color: white;
}

.section1__der{
    background-image: url(../img/avion.png);
    height: 500px;
    width: 100%;
    background-size: cover;
}


.section1__a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}



.section1__a:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
}



.section2__title:hover{
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
}



.section2{
    display: flex;
}
.section2__izq{
    width: 60%;
}

.section2__der{
    background-image:url(../img/totoro2.webp);
    height: auto;
    width: 100%;
    background-size: cover;
}

.section2__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 100%;
    color: white;
    font-size: 3.5rem;
    text-decoration: none;
}


.footer{
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
}

.footer__seccion1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.footer__seccion2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
}

.footer__seccion1 ,.footer__seccion2{
    margin: 50px;
}



@media screen and (min-width:600px) {
    .section1__izq{ 
        width: 30%;
    }
    .section1__der{ 
        width: 70%;
    }
    .section2__izq{ 
        width: 30%;
    }
    .section2__der{ 
        width: 70%;
        background-image: url(../img/totoro3.jpeg);
    }

}


@media screen and (min-width:768px) {
    .section1__izq{ 
        width: 70%;
    }
    .section1__der{ 
        width: 30%;
    }
    .section2__izq{ 
        width: 70%;
    }
    .section2__der{ 
        width: 30%;
       
    }

}


@media screen and (min-width:992px) {
    .section1__izq{ 
        width: 40%;
    }
    .section1__der{ 
        width: 60%;
    }
    .section2__izq{ 
        width: 80%;
    }
    .section2__der{ 
        width: 20%;
        background-image: url(../img/totoro4.jpeg);
    }

}


@media screen and (min-width:1200px) {
    .section2{
        flex-direction: row-reverse;
    }
    .section1__izq{ 
        width: 60%;
    }
    .section1__mid{
        background-image: url(../img/zeroJapones.png);
        width: 20%;
        height: auto;
    }
    .section1__der{ 
        width: 20%;
    }
    .section2__izq{ 
        width: 60%;
    }
    .section2__mid{
        background-image: url(../img/casa.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20%;
        height: auto;
    }
    .section2__der{ 
        width: 20%;
        background-image: url(../img/totoro4.jpeg);
    }

}



@media screen and (max-width:600px) {
    
    .header{
        height: 120px;
    }
    
    .section1{ 
        display: block;
    }
    .section1__izq{ 
        width: 100%;
    }
    .section1__der{ 
        width: 100%;
    }

    .section2{
        display: block;
    }
    
    .section2__der{ 
        width: 100%;
        background-image: url(../img/totoro3.jpeg);
        height: 200px;
    }
    .section2__izq{ 
        width: 100%;
    }

    .header__img2 {
        height: 70px;
        padding: 20px;
    }

    

}

@media screen and (max-width:382px) {
  
    .header{
        height: 100px;
    }

    .header__img2 {
        height: 50px;
        padding: 20px;
    }

    

}
