*{
    margin: 0;
    padding: 0;
}


.header{
    background-image: url();
    background-color: aqua;
    width:100% ;
    height: 100px;
}

.section1__izq{
    background-image: url(../img/peakpx.jpg);
    height: 100px;
    width: 100px;
}